html
{
    margin: 0px;
    height: 100%;
}

body
{
    margin: 0px;
	background-color: #333333;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	text-align: center;
	height: 100%;
}

.content
{
    width: 1000px;
    height: 100%;
    background-color: #777777;
    margin: auto;
}

header
{
    display: block;
    font-size: 32px;
    padding: 30px;
}

.fakeButton
{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #222222;
}

.fakeButton:hover
{
    background-color: #444444;
}

#Fields
{
    width:80%;
    float: left;
    display: block;
}

#AIFields p
{
    width: 14%;
}

#PlayerFields a
{
    width: 14%;
}

#AIWell
{
    width:10%;
    float: left;
    display: block;
    font-size: 200%;
}

#PlayerWell
{
    width:10%;
    float: left;
    display: block;
    font-size: 200%;
}
